* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 75%);
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}

.hero-title {
    grid-area: 1/1/1/-1;
    z-index: 1;
    align-self: start;
    margin-top: 20px;
}

.input-container {
    grid-row: 1/-1;
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: start;
    align-items: center;
}

.display-container {
    grid-row: 1/-1;
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.card {
    background-color: #eee;
    display: flex;
    flex-direction: column;
    padding: 40px;
    border-radius: 20px;
    max-width: 500px;
    gap: 5px;
}