* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

nav {
    grid-area: 1/1/2/-1;
    background-color: #1171ba;
    color: #ffffff;
    padding: 10px;
}

.blueprint_een {
    fill: #ffffff;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.display-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.review-cards {
    display: flex;
    flex-direction: column-reverse;
    gap: 15px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
}

form>fieldset {
    padding: 10px;
    border: none;
}

fieldset:nth-child(1) {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    padding: 5px;
    border-radius: 7px;
}

textarea {
    padding: 20px;
    border-radius: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: #eeeeee;
    padding: 20px;
    border-radius: 10px;
    gap: 10px;
    max-width: 500px;
}

.rating {
    display: flex;
    gap: 5px;
}

.rating input {
    display: none;
}

.rating label {
    font-size: 30px;
    color: #808080;
}

.rating label:hover {
    color: #ffd700;
}

button[type="submit"] {
    padding: 9px 18px;
    border: none;
    border-radius: 10px;
    background-color: #24aae2;
    color: #ffffff;
    font-size: medium;
}